body{
  background-color: khaki;
}


h1 {
  color: black;
  text-align: center;
}
.login-container {
            
            background-color: rgba(255, 255, 255, 0.5);
            padding: 20px;
            border-radius: 30px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
}
  
  }
     .login-container h2 {
            margin-bottom: 20px;
            text-align: center;
}





